/* Общие стили для контейнера контактов */
.contactscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 80px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

/* Заголовок */
h2 {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 20px;
}

/* Стили для каждого соседа */
.neighbor {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.51);
  padding: 15px;
  margin-bottom: 15px;
  width: 500px;
}

/* Информация о контакте */
.info {
  flex-grow: 1;
  margin-left: 50px;
}

/* Заголовок имени контакта с кругом и кнопкой удаления */
.contact-header {
  display: flex; 
}

/* Круглый элемент для изображения или иконки */
.circle {
  width: 15px; 
  height: 15px; 
  border-radius: 50%;
  background-color: #007bff; 
  margin-right: 10px;
}

/* Заголовок имени контакта */
h3 {
  font-size: 1.5rem;
  color: #007bff; 
}

/* Кнопка удаления контакта */
.delete-button {
  background-color: transparent; 
  border: none; 
  color: #ff4d4d; 
  cursor: pointer; 
}

/* Кнопка добавления контакта */
.add-contact {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* Модальное окно для добавления контакта */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: rgba(0,0,0,0.2) -1px -1px; 
}

/* Стили для полей ввода в модальном окне */
input[type="number"] {
    width: calc(100% - 20px);
    padding:10px; 
    margin-bottom:10px; 
    border-radius :5px ; 
    border :1px solid #ccc ; 
}

/* Кнопки в модальном окне */
.modal-button {
  background-color: #28a745; 
  color: white; 
  padding: 10px 15px; 
  border-radius: 4px; 
  cursor: pointer; 
}

.modal-button.cancel {
 background-color : #dc3545 ; 
}