@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main container styles */
.main-container {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* Content area styles */
.content {
    flex: 1; 
    margin-right: 20px;
}

/* Circular Button styles */
.contact-button {
    position: fixed;
    bottom: 10px; 
    right: 20px;
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    background-color: #84bdfa;
    color: white; 
    border: none;
    font-size: 24px;
    cursor: pointer; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}

/* Contact Window styles */
.contact-window {
    position: fixed; 
    bottom: 100px; 
    right: 20px; 
    width: 300px; 
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}

/* Close Button styles */
.close-button {
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c82333;
}

h1 {
    margin-left: 38%;
    padding-top: 60px;
    font-size: 15px;
    color: #38acff;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; 
}

/* Headings styles */
h2, h3, h4 {
    color: #333;
    font-family: 'Roboto', sans-serif; 
}

/* Home page styles */
.home {
    padding: 20px;
    border-radius: 8px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 40px;
}

.news-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.368); 
    padding: 15px;
    text-align: center; 
}

.news-item h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
}

.news-item img {
    width: 87%; 
    height: auto; 
    border-radius: 5px; 
}

.news-item p {
    font-family: 'Arial', sans-serif; 
    color: #555; 
}

/* Notifications styles */
.notifications {
    margin-top: 20px;
}

.notification-item {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px; 
}

/* News list styles */
.news-list {
    list-style-type: none; 
    padding-left: 0; 
}

.news-list li {
    display: flex; 
    align-items: center; 
}

.news-list img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.news-title {
   font-weight:bold;
}

.news-date {
   color:#777;
}