/* Основной контейнер страницы списка задач */
.todo-list-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Заголовок списка задач */
h1 {
    font-size: 24px; 
    color: #000000;
    margin-bottom: 20px; 
}

/* Стили для списка задач */
.todo-items {
    list-style-type: none;
    padding: 0; 
}

/* Элементы списка задач */
.todo-item {
    display: flex;
    align-items: center; 
    padding: 12px; 
    background-color: #ffffff; 
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px; 
}

/* Стили для выполненных задач (зачеркнутый текст) */
.todo-item span.done {
    text-decoration: line-through; 
    color: #6c757d;
}

/* Стили для чекбокса задач */
.todo-item input[type="checkbox"] {
    margin-right: 10px; 
}

/* Кнопка удаления задачи */
.delete-button {
    background-color: transparent; 
    border: none; 
    color: #ff4d4d;
    cursor: pointer; 
}

/* Кнопка добавления пользователя (или задачи) */
.add-user-button {
    display: block; 
    width: 100%;
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Стили для модального окна при добавлении пользователя в список задач*/
.modal-todo-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    z-index: 9999;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.482);
}

/* Затемняющий фон для модального окна при открытии*/
.overlay-todo-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

/* Стили для выпадающего списка контактов в модальном окне*/
select {
    width: calc(100% - 20px);
    margin-bottom: 15px;
}

.select__control:hover {
    border-color: #007bff;
}

.select__multi-value {
    background-color: #007bff; 
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.select__multi-value__remove {
    background-color: transparent;
    border: none; 
    color: white;
    cursor: pointer; 
    padding: 0 5px;
}

/* Эффект при наведении на кнопку удаления выбранного элемента */
.select__multi-value__remove:hover {
    color: #dc3545;
}

/* Стили для выпадающего списка опций */
.select__menu {
    z-index: 1000;
}




/* Поля ввода в модальном окне */
.modal-input {
    display: block;
    width: calc(100% - 20px);
    margin: 0 auto 10px; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

/* Кнопки в модальном окне */
.modal-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-button.cancel {
   background-color : #dc3545 ; 
}