/* Основной контейнер для списка задач */
.my-todo-lists {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
    background-color: #f9f9f9; /* Светлый фон для контраста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Стили для списка задач */
.todo-list {
    list-style-type: none;
    padding: 0;
}

/* Элементы списка задач */
.todo-item {
    display: flex;
    align-items: center;
    padding: 15px; 
    border-bottom: 1px solid #ddd;
}

/* Ссылка на задачу */
.list-link {
    color: #007bff; 
    text-decoration: none; 
    margin-right: auto;
}

/* Кнопка удаления задачи */
.delete-button {
    background-color: transparent;
    border: none; 
    color: #dc3545;
    font-size: 20px;
    cursor: pointer;
}

/* Кнопка создания списка задач */
.create-list {
    display: block;
    width: 100%;
    padding: 12px; 
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Модальное окно для создания списка задач */
.modal-todo-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    width: 300px;
    z-index: 9999;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Затемняющий фон для модального окна */
.overlay-todo-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9998;
}

/* Поля ввода в модальном окне */
.modal-input {
    display: block;
    width: calc(100% - 20px); 
    margin: 0 auto 10px; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

/* Кнопки в модальном окне */
.modal-button {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-button.cancel {
   background-color : #dc3545 ; 
}