/* Контейнер для профиля */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px; 
    padding-top: 100px; 
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

/* Заголовок в профиле */
h2 {
    text-align: center; 
    color: #333;
    margin-bottom: 20px; 
}

/* Контейнер для информации о пользователе */
.user-info {
    margin-top: 20px;
}

/* Строка информации в профиле */
.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Метка информации в строке информации */
.label {
    font-weight: bold;
    margin-right: 10px;
    width: 150px;
    text-align: right;
}

/* Значение информации в строке информации */
.info-value {
    flex-grow: 1;
}

/* Стили для кнопки редактирования профиля */
.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 160px;
}

/* Эффекты при наведении на кнопку редактирования */
.edit-button:hover {
    background-color: #0056b3;
}